* {
    font-family: "Sora", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.head{
    font-size: 2rem;
}
.main,
.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    /* Set height to 100vh for full viewport height */
}

.menu {
    position: absolute;
    top: 20px;
    color: whitesmoke;
    font-size: 1.2rem;
    right: 5px;
    z-index: 9999;
}

.main {
    background-color: rgb(255, 255, 255);
    margin: 0;
    /* Remove default margin */
}

.nav_bar {
    position: fixed;
    /* Change to fixed for better positioning */
    top: 0px;
    left: 0;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    clip-path: circle(3% at 50% 1%);
    cursor: pointer;
    transition: clip-path 1s ease;
    height: 100vh;
    border: 2px solid black;
    /* Set height to 100vh for full viewport height */
}

.active {
    clip-path: circle(100% at 50% 50%);
}

.nav_bar .logo {
    position: absolute;
    top: 5%;
    left: 10%;
    color: white;
    font-size: 1.8rem;
    z-index: 1;
    /* Set z-index to place it above the button */
}

.nav_bar button {
    border: none;
    background-color: rgb(243, 66, 7);
    transition: transform 0.5s ease, background 0.5s ease, opacity 1.5s ease;
    position: absolute;
    top: 5%;
    right: 10%;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    font-size: 2em;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
    /* Set z-index to place it above the background */
}

.nav_bar button:hover {
    transform: translateY(-8px);
    background-color: rgb(255, 255, 255);
    color: red;
}

.nav_bar ul {
    list-style: none;
    z-index: 1;
    /* Set z-index to place it above the background */
}

.nav_bar ul li {
    margin-top: 3rem;
}

.nav_bar ul li a {
    color: rgb(251, 249, 246);
    font-size: 1.7em;
    text-decoration: none;
    transition: color 0.2s ease, opacity 1.5s ease;
    position: relative;
}

.nav_bar ul li a:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform-origin: left;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.nav_bar ul li a:hover:after {
    background: #f7f5f5;
    transform: scaleX(1);
}

.nav_bar * {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s ease;
}

.active * {
    opacity: 1;
    pointer-events: all;
}
.arrow{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 49%;
    z-index: 99;
    opacity: 1;
}
@media(width <= 768px){
    .arrow{
        left: 48%;
        width: 29px;
        height: 25px;
    }
}
@media (width <= 650px){
    .arrow{
        left: 47%;
        width: 20px;
        height: 20px;
    }
}