

.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;
    z-index: 9999;
}


.nav-items {
    padding: .5em .8em;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav-items::before,
.nav-items::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav-items::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #146C94;
    border-right: 3px solid #2191c6;
    transform: translate(-100%, 50%);
}

.nav-items:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #146C94;
    border-left: 3px solid #3096c5;
    transform: translate(100%, -50%)
}

.nav-items:hover:before,
.nav-items:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav-items:hover {
    color: #19A7CE;
}


@media (max-width: 1023px) {
    .nav-res-div{
        background-color: #19A7CE;
    }
    .nav-items {
        padding: .5em 50px;
        position: relative;
        text-decoration: none;
        font-size: 20px;
        margin-top: 4rem;
       
    }

    .nav-items::before,
    .nav-items::after {
        content: '';
        height: 14px;
        width: 15px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
    }

    .nav-items::before {
        content: '';
        right: 30px;
        top: 0px;
        border-top: 3px solid darkorange;
        border-right: 3px solid #f4a40f;
        transform: translate(-100%, 50%);
    }

    .nav-items:after {
        content: '';
        left: 30px;
        bottom: 0;
        border-bottom: 3px solid darkorange;
        border-left: 3px solid #f4a40f;
        transform: translate(100%, -50%)
    }

    .nav-items:hover:before,
    .nav-items:hover:after {
        transform: translate(0, 0);
        opacity: 1;
    }

    .nav-items:hover {
        color: #FFA500;
    }

}