.close-menu,
.open-menu {
    position: absolute;
    cursor: pointer;
    display: none;
}
.open-menu svg{
    position: relative;
    top: -3px;
    z-index: 0;
    left: 0;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.nav-items {
    padding: .5em .8em;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav-items::before,
.nav-items::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav-items::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid darkorange;
    border-right: 3px solid #f4a40f;
    transform: translate(-100%, 50%);
}

.nav-items:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid darkorange;
    border-left: 3px solid #f4a40f;
    transform: translate(100%, -50%)
}

.nav-items:hover:before,
.nav-items:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav-items:hover {
    color: #FFA500;
}

@media (max-width: 1030px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 73%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #0692e9;
        color: #fff;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        font-size: 24px;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .close-menu,
    .open-menu {
        display: block;
        font-weight: 500;
        transition: border 2s ease;

    }

    .open-menu {
        font-size: 20px;
        text-transform: uppercase;
        color: #ccc;
    }

    .open-menu:before {
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0,0,256,256'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(4,4)'%3E%3Cpath d='M54,16.5c0,1.24 -0.5,2.37 -1.32,3.18c-0.81,0.82 -1.94,1.32 -3.18,1.32h-35c-2.49,0 -4.5,-2.01 -4.5,-4.5c0,-1.18 0.45,-2.26 1.21,-3.06c0.03,-0.04 0.07,-0.08 0.11,-0.12c0.81,-0.82 1.94,-1.32 3.18,-1.32h35c2.49,0 4.5,2.01 4.5,4.5z' fill='%23139ce1'%3E%3C/path%3E%3Cpath d='M36,12c0,2.76 -2.24,5 -5,5h-15c-1.38,0 -2.63,-0.56 -3.54,-1.46c-0.57,-0.58 -1.01,-1.3 -1.25,-2.1c0.03,-0.04 0.07,-0.08 0.11,-0.12c0.81,-0.82 1.94,-1.32 3.18,-1.32z' fill='%23ffffff' opacity='0.3'%3E%3C/path%3E%3Cellipse cx='32' cy='61' rx='20' ry='3' fill='%23000000' opacity='0.3'%3E%3C/ellipse%3E%3Cpath d='M49.5,51h-35c-2.485,0 -4.5,-2.015 -4.5,-4.5v0c0,-2.485 2.015,-4.5 4.5,-4.5h35c2.485,0 4.5,2.015 4.5,4.5v0c0,2.485 -2.015,4.5 -4.5,4.5z' fill='%23139ce1'%3E%3C/path%3E%3Cpath d='M49.5,36h-35c-2.485,0 -4.5,-2.015 -4.5,-4.5v0c0,-2.485 2.015,-4.5 4.5,-4.5h35c2.485,0 4.5,2.015 4.5,4.5v0c0,2.485 -2.015,4.5 -4.5,4.5z' fill='%23139ce1'%3E%3C/path%3E%3Cpath d='M49.5,42h-2.98c-0.08,0.89 0.08,1.79 0.45,2.59c0.31,0.66 -0.18,1.41 -0.9,1.41h-9.07c-2.76,0 -4.99,2.23 -5,5h17.5c1.24,0 2.37,-0.5 3.18,-1.32c0.82,-0.81 1.32,-1.94 1.32,-3.18c0,-2.49 -2.01,-4.5 -4.5,-4.5z' fill='%23000000' opacity='0.15'%3E%3C/path%3E%3Cpath d='M20.5,17h-4c-0.829,0 -1.5,-0.671 -1.5,-1.5c0,-0.829 0.671,-1.5 1.5,-1.5h4c0.829,0 1.5,0.671 1.5,1.5c0,0.829 -0.671,1.5 -1.5,1.5z' fill='%23ffffff'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
        background-size: contain;
        position: absolute;
        top: -3px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
    }


    .open-menu:hover:before {
        width: 100%;
    }

    #check:checked~.menu {
        right: 0;
    }
}