.cuib{
    height: 100vh;
}
.image-about{
    display: none;
}

.anime-text{
    height: 100vh;  
}

.anime-para{
    width: 80%;
    margin: 0 auto;
}
.anime-para > p{
    margin: .5rem 0;
}
@media (width < 1024px){
    .anime{
        display: none;
    }
    .image-about{
        display: flex;
        width: 100%;
    }
    .anime-text{
        height: 100%;
        margin: .5rem 0;
    }
}
@media (width <= 600px) {
    .anime-para{
        width: 95%;
        margin: 0 auto;
    }
    .sphere path {
        stroke-width: .4px;
    }
}
