.anime {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #fffafa;
    z-index: -20;
    height: 100vh;
}
.image-about{
    display: none;
}
.animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
    margin: 0 auto;
}

.sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80, 80, 80, .35);
    backface-visibility: hidden;
}
.anime-text{
    height: 100vh;  
}

.anime-para{
    width: 50% ;
    margin: 0 auto;
    font-size: 16px;
}
@media (width < 1024px){
    .anime{
        display: none;
    }
    .image-about{
        display: flex;
        width: 100%;
    }
    .anime-text{
        height: 100%;
        text-align: justify;
        margin: .5rem 0;
    }
}
@media (width <= 600px) {
    .anime-para{
        width: 100%;
    }
    .sphere path {
        stroke-width: .4px;
    }
}


@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}