@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
  font-family: 'Sora', sans-serif;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #02b9d4; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0088a9;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00596b; 
}

html {
  scrollbar-color: #f1f1f1 #02b9d4; 
}

html {
  scrollbar-width: thin;
}

html:hover {
  scrollbar-color: #f1f1f1 #0088a9; 
}

html:active {
  scrollbar-color: #f1f1f1 #00596b; 
}

