.icons{
    width: 50px;
}
.linked{
    border-radius:  0 10px 0 0;
}
.icons,.anime-icon{
    transition: 0.7s;
}
.icons:hover{
    transform: scale(1.2);
}
.anime-icon:hover{
    transform: scale(1.2);
}
@media (width < 1024px){
    .tech-text{
        text-align: center;
    }
    .tech-text > p:first-child {
        text-decoration: underline;
        margin: 1rem 0;
    }
    .text-icons{
        margin: 0 auto;
    }
}